@using RentACloth.Components
<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand title">Rent A <span>Cloth</span></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">

        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item"><a asp-area="" asp-controller="Orders" asp-action="MyOrders" class="nav-link">Моите поръчки</a></li>
            if (User.IsInRole("Admin"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Продукти
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a asp-area="" asp-controller="Products" asp-action="All" class="dropdown-item nav-link text-dark">Всички продукти</a>
                        <a asp-area="" asp-controller="Products" asp-action="AllClothes" class="dropdown-item nav-link text-dark">Дрехи</a>
                        <a asp-area="" asp-controller="Products" asp-action="AllShoes" class="dropdown-item nav-link text-dark">Обувки</a>
                        <a asp-area="" asp-controller="Products" asp-action="AllAccessories" class="dropdown-item nav-link text-dark">Аксесоари</a>
                        <a asp-area="" asp-controller="Products" asp-action="AllWatches" class="dropdown-item nav-link text-dark">Часовници</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Категории
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a asp-controller="Category" asp-action="All" class="dropdown-item nav-link text-dark">Основни категории</a>
                        <a asp-controller="ChildCategory" asp-action="All" class="dropdown-item nav-link text-dark">Под категории</a>
                    </div>
                </li>

            }
        }
    </ul>

    <partial name="_LoginPartial" />
    @if (this.User.Identity.IsAuthenticated)
    {
        @await Component.InvokeAsync(typeof(ShoppingBagComponent))
    }
</div>
